.gb-breadcrumb {
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.gb-breadcrumb.sponsorship {
	background-image: url(break1.jpg);
}

.breadcrumb-info {
	font-size: 14px;
	max-width: 615px;
	display: inline-block;
	padding-top: 50px;
}

.breadcrumb {
	border-radius: 0;
	padding: 0;
	margin-bottom: 0;
	background-color: transparent;
}

.breadcrumb li {
	float: none;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-right: 30px;
	display: inline-block;
	position: relative;
}

.breadcrumb-item+.breadcrumb-item::before{
	position: absolute;
	content: "\f101";
	left: -30px;
	top: 2px;
	font-size: 18px;
	color: #fff;
	font-family: "fontawesome";
}

.breadcrumb li:last-child {
	margin-right: 0;
}

.breadcrumb li.active,
.breadcrumb li a {
	color: #fff;
}

.breadcrumb li a:hover {
	color: #f26522;
}