#about {
	margin: 20px;
	font-size: 1.2rem;
}

#about .section-title{
    margin-bottom: 0;
}

#about h2 {
    max-width: 500px;
    margin: 5px auto;
}

#about .colored{
    color: #f26522;
}

#about h2 a {
    color: #5a6a72;
    text-decoration: underline;
}
#about h2 a {
    text-decoration: underline;
}

#about h2 a:hover {
    color: #f26522;
    text-decoration: underline;
}

#about ul {
	margin-top: 30px;
}

#about ul li {
    list-style: none;
	position: relative;
	padding-left: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

#about strong {
    color: #f26522;
}

#about .details span {
	display: inline-block;
	font-size: 20px;
	position: relative;
	margin: 0 0 30px;
	color: #f26522;
	background-color: #fff;
}

#about .details span:before,
#about .details span:after {
	position: absolute;
	content: "";
	top: 50%;
	width: 100px;
	height: 2px;
	background-color: #f26522;
	margin: 0 10px;
}

#about .details span:before {
	left: 100%;
}

#about .details span:after {
	right: 100%;
}

#about .location {
	margin-top: 20px;
}