iframe {
    min-height: 1000px;
    margin: auto;
    width: 80%;
    background: #fff;
}

#tickets .card-body a {
    text-decoration: underline;
    color: #5a6a72;
}

#tickets .card-body  a:hover {
    text-decoration: none;
    color: #5a6a72;
}

#tickets .card-footer a {
    text-decoration: underline;
    color: white;
}

#tickets .card-footer  a:hover {
    text-decoration: none;
    color: #5a6a72;
}
#tickets ul {
	margin-top: 30px;
}

#tickets ul li {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#tickets p{
    font-size: 1.2rem;
}

#tickets .asterisk::after {
    color: #f26522;
    content: "*";
}

#tickets small::before {
    color: #f26522;
    content: "*";
}

#tickets h3{
    color: #f26522;
    margin-top: 30px;
}

.vip .card-header {
    background: #f26522;
}
.vip .card-header h2 {
    color: white;
}

.vip .card {
    border: 1px solid #f26522;
}

.vip .card-footer {
    background: #f26522;
}

@media (max-width: 991px) {
    iframe {
        width: 100%;
    }
}