iframe {
    min-height: 1000px;
    margin: auto;
    width: 80%;
    background: #fff;
}



#tickets h2 a {
    text-decoration: underline;
}

#tickets ul {
	margin-top: 30px;
}

#tickets ul li {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#tickets p{
    font-size: 1.2rem;
}

#tickets .asterisk::after {
    color: #f26522;
    content: "*";
}

#tickets small::before {
    color: #f26522;
    content: "*";
}

#tickets h3{
    color: #f26522;
    margin-top: 30px;
}

@media (max-width: 991px) {
    iframe {
        width: 100%;
    }
}