    .icon a {
    font-size: 20px;
    width: 30px;
    overflow: hidden;
    height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #f26522;
    position: relative;
    margin: 5px;
    }

       .icon a:hover{
    border: 2px solid #f26522;
       }